<template>
  <div class='aside-navigation-item' v-on:click="navigate({path: `${route}/${page}`})">
    <div class='aside-navigation-item-band' :expanded='expanded'/>
    <div class='aside-navigation-item-content' >
      <ion-icon :name='icon' />
      <div class='aside-navigation-item-label'><slot/></div>
    </div>
  </div>
</template>

<script>
import IonIcon from "@/components/util/IonIcon.vue";

import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
  name: "navigation-item",
  props: {
    icon: { default: "help" },
    route: { default: "" },
    page: { default: "" }
  },
  components: { IonIcon },
  computed: {
    expanded() {
      return this.curr_route === this.route && this.curr_page === this.page;
    },
    ...mapGetters({
      curr_route: "navigation/getRoute",
      curr_page: "navigation/getPage"
    })
  },
  methods: {
    ...mapActions({ navigate: "navigation/navigate" })
  }
};
</script>

<style lang="scss">
// Item itself
.aside-navigation-item {
  display: flex;
  width: 100%;
  margin: 0;
}

.aside-navigation-item-content {
  // Layout
  flex: 1;
  display: flex;
  width: 1fr;
  padding: 10pt;

  font-size: 13pt;

  background-color: #f1f1f1;

  cursor: pointer;
}

.aside-navigation-item-content:hover {
  background-color: #e1e1e1;
}

// Selected? band
.aside-navigation-item-band {
  // Layout
  width: 0;
  background-color: $primary-color;
  transition: ease-in-out 110ms;
}

.aside-navigation-item-band[expanded="true"] {
  // Layout
  width: 10pt;
}

// Item
.aside-navigation-item-label {
  // Layout
  margin: auto 10pt;

  text-align: left;
}
</style>
