<template>
  <div class="estrutura">
    <div class='subject-description'>
      <h2 class='subject-description-title'>{{code}} - {{name}}</h2>
      <div class='subject-description-description'>
        Descrição: {{description}}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      curr_page: 'navigation/getPage',
      store_subject: 'subject/getSubject',
      store_subject_state: 'subject/getSubjectState'
    }),
    sid() {
      return this.curr_page;
    },
    subject() {
      return this.store_subject(this.sid);
    },
    code() {
      if (this.subject && this.subject.codigo_disciplina)
        return this.subject.codigo_disciplina;
      else return '<Código não disponível>';
    },
    name() {
      if (this.subject && this.subject.nome) return this.subject.nome;
      else return '<Nome não disponível>';
    },
    description() {
      if (this.subject && this.subject.ementa) return this.subject.ementa;
      else return '<Descrição não disponível>';
    }
  }
};
</script>

<style lang="scss">
.estrutura {
  padding: 30pt;
}

.subject-description {
  border-radius: 5pt;
  background-color: white;
  box-shadow: 2pt 2pt 10pt #0003;
  padding: 20pt;
}

.subject-description-title {
  margin: 10pt;
}

.subject-description-description {
  margin: 10pt;
}
</style>
