<template>
  <div class="planejamento">
    <semester-subject-viewer  v-if="curr_semester !== 'none'"/>
    <div v-else>
      <direct-subject-viewer name='Obrigatórias' :list='compulsory' :editable='is_home' />
      <trail-subject-viewer :name='trail.nome' :id='trail.id_trilha' v-for='(trail, index) in trails' :key='index' :editable='is_home' />
    </div>
      <div class="save-button" value="Salvar" @click='save' v-if="is_home">
        <div>
          <ion-icon class="save-icon" name="disquette"/>
        </div>
      </div>
  </div>
</template>

<script>
import SemesterSelector from '@/components/parts/SemesterSelector.vue';
import DirectSubjectViewer from '@/components/parts/DirectSubjectViewer.vue';
import TrailSubjectViewer from '@/components/parts/TrailSubjectViewer.vue';
import SemesterSubjectViewer from '@/components/parts/SemesterSubjectViewer.vue';

import { mapGetters, mapActions } from 'vuex';
import IonIcon from '@/components/util/IonIcon.vue';

export default {
  data() {
    return {
      compulsory: [],
      trails: []
    };
  },
  computed: {
    ...mapGetters({
      curr_page: 'navigation/getPage',
      curr_semester: 'navigation/getSemester'
    }),
    is_home() {
      return this.curr_page == 'home';
    }
  },
  components: {
    SemesterSelector,
    DirectSubjectViewer,
    SemesterSubjectViewer,
    TrailSubjectViewer,
    IonIcon
  },
  async asyncData({ app }) {
    return {
      compulsory: await app.$axios.$get('grade_obrigatoria'),
      trails: await app.$axios.$get('trilhas')
    };
  },
  mounted() {},
  methods: {
    ...mapActions({
      store_save: 'plan/save'
    }),
    save() {
      this.store_save({ plan_id: 'home' });
    }
  }
};
</script>

<style lang="scss">
.planejamento {
  // Layout properties
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10pt 20pt;
  background-color: #f1f1f1;
}

.save-button {
  background-color: $primary-color;
  border-radius: 50px;
  cursor: pointer;
  color: $light-color;
  font-family: Georgia;
  font-size: 22px;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  right: 50pt;
  bottom: 80pt;
  opacity: 0.7;
  transition-duration: 160ms;
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.save-button:hover {
  background-color: $primary-color;
  opacity: 1;
  transform: scale(1.1);
}

.save-button:active {
  transform: scale(1);
}

.save-icon {
  filter: invert(1);
  margin: 5pt;
}
</style>
