<template>
  <div class="plano">
    <semester-subject-viewer  v-if="curr_semester !== 'none'"/>
    <div v-else>
      <direct-subject-viewer name='Obrigatórias' :list='compulsory' :editable='is_home' />
      <trail-subject-viewer :name='trail.nome' :id='trail.id_trilha' v-for='(trail, index) in trails' :key='index' :editable='is_home' />
    </div>
  </div>
</template>

<script>
import SemesterSelector from '@/components/parts/SemesterSelector.vue';
import DirectSubjectViewer from '@/components/parts/DirectSubjectViewer.vue';
import TrailSubjectViewer from '@/components/parts/TrailSubjectViewer.vue';
import SemesterSubjectViewer from '@/components/parts/SemesterSubjectViewer.vue';

import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      compulsory: [],
      trails: []
    };
  },
  computed: {
    ...mapGetters({
      curr_page: 'navigation/getPage',
      curr_semester: 'navigation/getSemester'
    }),
    is_home() {
      return this.curr_page == 'home';
    }
  },
  components: {
    SemesterSelector,
    DirectSubjectViewer,
    SemesterSubjectViewer,
    TrailSubjectViewer
  },
  async asyncData({ app }) {
    return {
      compulsory: await app.$axios.$get('grade_obrigatoria'),
      trails: await app.$axios.$get('trilhas')
    };
  },
  mounted() {}
};
</script>

<style lang="scss">
.plano {
  // Layout properties
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10pt 20pt;

  background-color: #f1f1f1;
}
</style>
