<template>
  <div class="aside-login">
    <form class='aside-form-container' v-on:submit.prevent="login"
        v-if='!authenticated'>
      <p class="login-text">Entrar</p>
      <input class="login-input" type="email" placeholder="Email" v-model="form_email"/>
      <input class="login-input" type="password" placeholder="Senha" v-model="form_password"/>
      <div style='color: red' v-if='error_message'>{{error_message}}</div>
      <input class="login-button" type="submit" value="Login"/>
    </form>
    <div class='aside-profile-container' v-else>
      <div class='profile-image'/>
      <div class='username-area'>{{name}}</div>
      <div class='logout-area'>
        <div class='logout-button' @click='logout()'>
          <ion-icon name='exit'/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IonIcon from '@/components/util/IonIcon.vue';

import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      error_message: null,
      form_email: '',
      form_password: ''
    };
  },
  components: {
    IonIcon
  },
  computed: {
    ...mapGetters({
      authenticated: 'auth/isAuthenticated',
      name: 'auth/getName'
    })
  },

  methods: {
    async login() {
      this.error_message = await this.$store.dispatch('auth/authenticate', {
        email: this.form_email,
        password: this.form_password
      }).message;
    },
    async logout() {
      await this.$store.dispatch('auth/deauthenticate');
      this.$store.dispatch('navigation/navigate', { path: 'index/home' });
    }
  }
};
</script>

<style lang="scss">
@import '@/assets/custom.scss';

// Root for login component
.aside-login {
  background-color: $primary-color;
  margin: 0;
  width: 100%;
}

// Container for formulary
.aside-form-container {
  //  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  margin: 10pt;
}

/*******************
 * Logged in styles *
  *******************/

// Container for profile area
.aside-profile-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 25pt);
  grid-template-areas:
    '... ... ... ... ... ...'
    '... ... img img ... ...'
    '... ... img img ... ...'
    '... usr usr usr usr out'
    '... ... ... ... ... out';

  color: $light-color;
}

// Logout button
.logout-area {
  grid-area: out;
  display: flex;
  flex-direction: column;
}

.logout-button {
  margin: auto;

  filter: invert(1);

  transition: 0.16s;
}

.logout-button:hover {
  transform: scale(1.05);
}

// Profile image
.profile-image {
  grid-area: img;
  width: 100%;
  height: 100%;

  background-image: url(https://www.keymay.com/wp-content/uploads/2018/04/round-user.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  filter: invert(1);
}

// User identifier area
.username-area {
  grid-area: usr;
  text-align: center;
  margin: 5pt;
}

//Login form
.login-input {
  border-radius: 42px;
  border: 1px solid #ffffff;
  margin: 5pt;
  padding: 5pt 10pt;
}

.login-input:focus {
  outline: none;
}

.login-button {
  width: 30%;
  margin: 2pt;
  padding: 3pt;
  border-radius: 10pt;
  border: none;
  cursor: pointer;
  font-family: Georgia;

  background-color: #ccc;
  transition: 0.2s;
}

.login-button:hover {
  background-color: #bbb;
}

.login-text {
  color: #ffffff;
  font-size: 24pt;
  font-family: Georgia;
}
</style>
