<template>
  <div class='aside-navigation'>
    <navigation-item icon='home' route='index' page='home'>Home</navigation-item>
    <navigation-item icon='checkmark-circle-outline' route='index' page='done' v-if='authenticated'>Disciplinas Realizadas</navigation-item>
    <navigation-item icon='document' route='plano' :page='`plan_${plan.numero_plano}`'
        v-for='(plan, index) in plans' :key='index'
        v-if='authenticated'>Plano {{plan.numero_plano}}</navigation-item>
  </div>
</template>

<script>
import NavigationItem from '@/components/TheAside/Navigation/NavigationItem.vue';

import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'navigation',
  data() {
    return {};
  },
  components: { NavigationItem },
  computed: {
    ...mapGetters({
      authenticated: 'auth/isAuthenticated',
      user: 'auth/getID',
      plans: 'plan/getPlanHeaders'
    })
  },
  watch: {
    user() {
      this.update_plans();
    }
  },
  async mounted() {
    if (this.user) this.update_plans();
  },
  methods: {
    ...mapActions({ refresh_plan_headers: 'plan/loadPlanHeaders' }),
    async update_plans() {
      this.refresh_plan_headers();
    }
  }
};
</script>

<style lang="scss">
.aside-navigation {
  // Layout
  width: 100%;
  height: 100%;
  overflow: auto;
}
</style>
