<template>
  <div class='icon' :style='style'/>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ion-icon',
  props: {
    name: { default: 'help' },
    w: { default: '20pt' },
    h: { default: '20pt' }
  },
  computed: {
    style() {
      return `${this.source}
              width: ${this.w};
              height: ${this.h}`;
    },
    source() {
      if (this.name)
        return `background-image: url(/icons/md-${this.name}.svg);`;
    }
  }
};
</script>

<style lang="scss" scoped>
.icon {
  grid-area: out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}
</style>
