<template>
  <div class="progress-bar-container">
    <div class="progress-bar-title">
      {{title}}
    </div>
    <div class="progress-bar">
      <div class="progress-bar-fragment-done" :style="calculateWidth(done,total,0)">
      </div>
      <div class="progress-bar-fragment-planned" :style="calculateWidth(planned,total,done)">
      </div>
    </div>
    <div class="progress-bar-text">
      <span v-if='planned != null'>(</span>
      <span class="credit-text-done" :plan='false'> {{done}}</span>
      <span v-if='planned != null'> + </span>
      <span class="credit-text-planned" :plan='true' v-if='planned != null'>{{planned}}</span>
      <span v-if='planned != null'>)</span> /
      <span>{{total}} Créditos</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'credit-progress-bar',
  props: {
    title: { default: '-' },
    done: { default: 0 },
    planned: { default: null },
    total: { default: 100 }
  },
  methods: {
    calculateWidth(cred, tot, extra) {
      if (cred == null) cred = 0;
      return `width: ${(cred + extra) * 100 / tot}%`;
    }
  }
};
</script>

<style lang="scss">
.credit-text-done {
  color: $primary-color;
}
.credit-text-planned {
  color: $secondary-color;
}
.progress-bar-container {
  padding: 0 30pt 0 30pt;
  width: 33%;
}
.progress-bar {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background-color: #ccc;
  border-radius: 3pt;
  height: 12pt;
  width: 100%;
}
.progress-bar-fragment-done {
  background-color: $primary-color;
  grid-row: 1/2;
  grid-column: 1/2;
  border-radius: 3pt;
  width: 10%;
  z-index: 10;
  transition: 500ms;
}
.progress-bar-fragment-planned {
  background-color: $secondary-color;
  grid-row: 1/2;
  grid-column: 1/2;
  border-radius: 3pt;
  width: 15%;
  transition: 500ms;
}
.progress-bar-text {
  text-align: center;
}
.progress-bar-title {
  margin: 1pt;
}
</style>
