<template>
  <aside class="aside">
    <login/>
    <navigation/>
  </aside>
</template>

<script>
import Login from '@/components/TheAside/Login.vue';
import Navigation from '@/components/TheAside/Navigation.vue';

import { mapGetters } from 'vuex';

export default {
  components: {
    Login,
    Navigation
  },
  computed: {
    ...mapGetters({ authenticated: 'isAuthenticated' })
  }
};
</script>

<style>
.aside {
  /* Grid to position the cell itself */
  grid-area: aside;
  justify-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  /* Zero padding */
  padding: 0;
}
</style>
