<template>
  <footer class="footer" v-if="curr_semester  === 'none' && authenticated && curr_route != 'estrutura'">
    <credit-progress-bar title="Obrigatórias" :done=credits_mandatory :planned=planned_mandatory :total=credits_mandatory_total />
    <credit-progress-bar title="Eletivas" :done=credits_elective :planned=planned_elective :total='100' />
    <credit-progress-bar title="Livres" :done=credits_free :planned=planned_free :total='100' />
  </footer>
</template>

<script>
import { mapGetters } from 'vuex';
import IonIcon from '@/components/util/IonIcon.vue';
import CreditProgressBar from '@/components/TheFooter/CreditProgressBar.vue';

export default {
  components: {
    IonIcon,
    CreditProgressBar
  },
  data() {
    return {
      credits_mandatory: 0,
      credits_mandatory_total: 100,
      credits_elective: 0,
      credits_free: 0,
      planned_free: 0,
      planned_mandatory: 0,
      planned_elective: 0
    };
  },
  computed: {
    ...mapGetters({
      curr_route: 'navigation/getRoute',
      curr_semester: 'navigation/getSemester',
      id_pessoa: 'auth/getID',
      curr_plan: 'navigation/getPage',
      authenticated: 'auth/isAuthenticated',
      home_planned_credits: 'plan/getHomePlannedCredits'
    }),
    home_free_planned_credits() {
      return this.home_planned_credits('livre');
    },
    home_elective_planned_credits() {
      return this.home_planned_credits('eletiva');
    },
    home_mandatory_planned_credits() {
      return this.home_planned_credits('obrigatoria');
    }
  },
  watch: {
    curr_plan() {
      this.update_planned_credits();
      this.update_done_credits();
    },
    home_free_planned_credits() {
      this.update_planned_credits();
    },
    home_elective_planned_credits() {
      this.update_planned_credits();
    },
    home_mandatory_planned_credits() {
      this.update_planned_credits();
    }
  },
  async mounted() {
    this.update_done_credits();
    this.update_planned_credits();
  },
  methods: {
    async update_done_credits() {
      if (this.authenticated) {
        this.credits_mandatory = await this.$axios.$post(
          'rpc/creditos_obrigatorios',
          {
            id_aluno: this.id_pessoa
          }
        );
        this.credits_mandatory_total = await this.$axios.$post(
          'rpc/total_creditos_obrigatorios',
          {
            id_aluno: this.id_pessoa
          }
        );
        this.credits_elective = await this.$axios.$post(
          'rpc/creditos_eletivos',
          {
            id_aluno: this.id_pessoa
          }
        );
        this.credits_free = await this.$axios.$post('rpc/creditos_livres', {
          id_aluno: this.id_pessoa
        });

        // if response is empty, put a zero in it
        this.credits_free = this.credits_free ? this.credits_free : 0;
        this.credits_elective = this.credits_elective
          ? this.credits_elective
          : 0;
        this.credits_mandatory = this.credits_mandatory
          ? this.credits_mandatory
          : 0;
      }
    },
    async update_planned_credits() {
      if (this.authenticated) {
        if (this.curr_plan == 'home') {
          this.planned_free = this.home_planned_credits('livre');
          this.planned_elective = this.home_planned_credits('eletiva');
          this.planned_mandatory = this.home_planned_credits('obrigatoria');
        } else if (this.curr_plan == 'done') {
          this.planned_free = null;
          this.planned_elective = null;
          this.planned_mandatory = null;
        } else {
          this.planned_free = await this.$axios.$post(
            'rpc/creditos_livres_plano',
            {
              id_aluno: this.id_pessoa,
              num_plan: this.curr_plan.split('_')[1],
              semestre: this.curr_semester
            }
          );
          this.planned_elective = await this.$axios.$post(
            'rpc/creditos_eletivos_plano',
            {
              id_aluno: this.id_pessoa,
              num_plan: this.curr_plan.split('_')[1],
              semestre: this.curr_semester
            }
          );
          this.planned_mandatory = await this.$axios.$post(
            'rpc/creditos_obrigatorios_plano',
            {
              id_aluno: this.id_pessoa,
              num_plan: this.curr_plan.split('_')[1],
              semestre: this.curr_semester
            }
          );
          // if response is empty, put a zero in it
          this.planned_free = this.planned_free ? this.planned_free : 0;
          this.planned_elective = this.planned_elective
            ? this.planned_elective
            : 0;
          this.planned_mandatory = this.planned_mandatory
            ? this.planned_mandatory
            : 0;
        }
      }
    }
  }
};
</script>

<style>
.footer {
  /* Grid to position the cell itself */
  grid-area: footer;
  place-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
</style>
