<template>
  <nav class="navbar">
    <div class="logo-image"/>
    <div class="logo-text">DBZ</div>
    <div class="spacer"/>
    <div>
    </div>
    <semester-selector v-if='this.curr_route != "estrutura"'/>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';
import SemesterSelector from '@/components/parts/SemesterSelector.vue';
export default {
  components: {
    SemesterSelector
  },
  computed: {
    ...mapGetters({
      curr_route: 'navigation/getRoute',
      curr_page: 'navigation/getPage'
    }),
    is_home() {
      return this.curr_route == 'index' && this.curr_page == 'home';
    }
  }
};
</script>


<style lang="scss">
@import '@/assets/custom.scss';

.navbar {
  /* Grid to position the cell itself */
  grid-area: navbar;
  justify-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // colors and stuff
  background-color: $primary-color;
}

.logo-image {
  width: 45pt;
  height: 45pt;
  margin: 10pt;
  background-image: url(~/assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: $primary-color;
}

// Text for the logo
.logo-text {
  font-family: Georgia;
  font-weight: bolder;
  grid-area: img;
  font-size: 40pt;
  text-align: left;
  color: $secondary-color;
}
</style>
