<template>
  <div class=".cruds__index">
    <div class="student-viewer">
      <div  v-for='(student, index) in students' :key="index">
        <div v-for="(person,index) in people" :key="index">
          <div class="student-item" v-if="student['id_pessoa'] === person['id_pessoa']">
            <div class="student-info-item" >ID: {{student['id_pessoa']}} </div>
            <div class="student-info-item" >Nome: {{person['nome']}} </div>
            <div class="student-info-item" >Nusp: {{student['nusp_aluno']}} </div>
            <div class="student-info-item" >Nascimento: {{person['nascmimento']}} </div>
            <div class="student-info-item" >CPF: {{person['']}}  </div>
            <div class="student-info-item" >Turma_Ingresso: {{student['turma_ingresso']}} </div>
          </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      students: [],
      people: [],
      users: []
    };
  },
  async mounted() {
    this.get_students();
  },
  methods: {
    async get_students() {
      this.students = await this.$axios.$get("alunos");
      this.people = await this.$axios.$get("pessoas");
      console.log(this.students);
      console.log(this.people);
    }
  }
};
</script>

<style lang="scss">
.cruds__index {
}
.student-viewer {
  width: auto;
}
.student-item {
  display: flex;
  flex-direction: row;
  background-color: $light-color;
  border-radius: 5pt;
  padding: 10pt 15pt;
  margin: 5pt;
}
.student-info-item {
  margin: 0 10pt;
}
</style>
