<template>
  <div class=".cruds__new">
    <form class="new-aluno-form" @submit.prevent="send">
      <label>Nome </label>
      <input type="name" v-model="form_name"/>
      <label>CPF </label>
      <input type="cpf" v-model="form_cpf"/>
      <label>Data de Nascimento </label>
      <input type="date" v-model="form_date_birth"/>
      <label>Numero Usp </label>
      <input type="number" v-model="form_nusp"/>
      <label>Data de Ingresso </label>
      <input type="date" v-model="form_date_ingress"/>
      <label>E-mail </label>
      <input type="email" v-model="form_email"/>
      <label>Senha </label>
      <input type="password" v-model="form_password"/>
      <label>Confirma Senha </label>
      <input type="password" />
      <input type="submit" />
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form_name: "",
      form_cpf: "",
      form_date_birth: "",
      form_nusp: "",
      form_date_ingress: "",
      form_email: "",
      form_password: ""
    };
  },
  methods: {
    async send() {
      await this.$axios.$post("rpc/cria_aluno", {
        name: this.form_name,
        cpf: this.form_cpf,
        birth: this.form_date_birth,
        nusp: this.form_nusp,
        ingress: this.form_date_ingress,
        email: this.form_email,
        password: this.form_password
      });
    }
  }
};
</script>

<style lang="scss">
.cruds__new {
  align-content: center;
  align-items: center;
  align: center;
}
.new-aluno-form {
  display: flex;
  flex-direction: column;
  border-radius: 10pt;
  width: 90%;
  background-color: $light-color;
  margin: auto;
  margin-top: 20pt;
  box-shadow: 5pt 5pt 10pt #ddd;
  padding: 30pt;
}
.new-aluno-form > label {
  margin: 2pt;
  width: 40%;
}
.new-aluno-form > input {
  margin: 3pt;
  border-radius: 20pt;
  transition: 400ms;
  padding: 5pt 10pt;
  border: none;
  background-color: $primary-color;
  color: $light-color;
  width: 150pt;
  box-shadow: 5pt 5pt 10pt #ddd;
}
.new-aluno-form > input:focus {
  margin: 3pt;
  width: 40%;
  border-radius: 2px;
  outline: none;
}
</style>
