<template>
  <div class='subject-item-menu' :style="`left: ${left}px; top:${top}px`">
    <div class='subject-item-menu-item' @mouseup="onblur" @mousedown="onfocus" @click='show_info'>Ver informações</div>
    <div>Adicionar {{subject_code}}</div>
    <form class='subject-item-menu-form' @focusout="onblur" @focusin="onfocus" @submit.prevent="onsubmit">
      <select ref='semester_selector' v-model='semester'>
        <option :value='null'>Selecionar Semestre</option>
        <option :value='index' v-for="index in number_of_semesters" :key='index'>{{`${index}º semestre`}}</option>
      </select>
      <input class='subject-item-menu-form' type='submit' value='ok'/>
    </form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'subject-item-menu',
  data() {
    return {
      focused_elements: 0,
      semester: 1
    };
  },
  props: {
    left: { default: 0 },
    top: { default: 0 },
    subject: { default: null }
  },
  computed: {
    ...mapGetters({
      number_of_semesters: 'config/getNumberOfSemesters',
      plan_id: 'navigation/getPage'
    }),
    subject_code() {
      if (this.subject) return this.subject.codigo_materia;
    },
    abs_plan_semester() {
      let ingress = this.$store.getters['auth/getIngress'];
      ingress = new Date(ingress).getFullYear();
      let sum = Math.floor((this.semester - 1) / 2);
      let sem = ((this.semester % 2 == 0) + 1) / 10;
      let result = ingress + sum + sem;
      return result;
    }
  },
  watch: {
    left() {
      this.focus();
    },
    top() {
      this.focus();
    }
  },
  mounted() {
    this.focus();
  },
  methods: {
    focus() {
      this.$refs.semester_selector.focus();
    },
    onfocus() {
      this.$emit('focus');
      this.focused_elements++;
    },
    onblur() {
      this.$nextTick(() => {
        this.focused_elements--;
        if (this.focused_elements == 0) this.blurred();
      });
    },
    blurred() {
      this.$emit('blur');
    },
    onsubmit() {
      this.$emit('blur');
      this.$store.commit('plan/addSubject', {
        plan_id: this.plan_id,
        subject_id: this.subject.id_disciplina,
        semester: this.abs_plan_semester
      });
    },
    show_info() {
      this.$store.dispatch('navigation/navigate', {
        path: `estrutura/${this.subject.id_disciplina}`
      });
    }
  }
};
</script>

<style lang="scss">
.subject-item-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  z-index: 11;
  align-items: center;

  border-radius: 5pt;
  background-color: white;
  box-shadow: 2pt 2pt 10pt #0003;
}

.subject-item-menu-item {
  padding: 10pt;
  margin: 0;

  cursor: pointer;

  transition: 0.3s;
}

.subject-item-menu-item:hover {
  background-color: #eee;
}

.subject-item-menu-form {
  display: flex;
  flex-direction: column;
  margin: 5pt;
}

.subject-item-menu-form-submit {
}
</style>
