<template>
  <div class='direct-subject-viewer'>
    <div class='direct-subject-viewer-header' @click='toggle_open'>
      <div class='direct-subject-viewer-header-icon' :open='open'>
          <ion-icon name='arrow-dropright' />
      </div>
      {{name}}
    </div>
    <subject-listing class='direct-subject-viewer-body' :list='list' v-if='open' :editable='editable'/>
  </div>
</template>

<script>
import SubjectListing from '@/components/parts/SubjectListing.vue';

import IonIcon from '@/components/util/IonIcon.vue';

export default {
  name: 'direct-subject-viewer',
  props: {
    name: { default: '-' },
    list: { default: () => [] },
    editable: { default: false }
  },
  data() {
    return { open: false };
  },
  components: { IonIcon, SubjectListing },
  computed: {},
  mounted() {},
  methods: {
    toggle_open() {
      this.open = !this.open;
    }
  }
};
</script>

<style lang="scss">
// Viewer header
.direct-subject-viewer-header {
  display: flex;
  margin: 5pt 0;
  padding: 2pt;

  cursor: pointer;

  align-items: center;

  border-radius: 5pt;
  background-color: white;
  box-shadow: 5pt 5pt 10pt #ddd;
}

.direct-subject-viewer-header-icon {
  width: 20pt;
  height: 20pt;

  transition: 0.2s;
}

.direct-subject-viewer-header-icon[open] {
  transform: rotate(90deg);
}
// Viewer body
.direct-subject-viewer-body {
  margin: 20pt 40pt;
  border-radius: 5pt;
  background-color: white;
  box-shadow: 5pt 5pt 10pt #ddd;
}
</style>
hidden