<template>
  <div class='semester-selector'>
    <b>Semestres:</b>

    <semester-selector-item name='Geral' sid='none' />
    <semester-selector-item :name='`${index}º`' :sid='`${index}`' v-for="index in number_of_semesters" :key='index' />
    <semester-selector-item name='+ Add semester' :sid='null' :action='add_semester' />
  </div>
</template>

<script>
import SemesterSelectorItem from '@/components/parts/SemesterSelector/SemesterSelectorItem.vue';

import { mapGetters, mapMutations } from 'vuex';

export default {
  name: 'semester-selector',
  components: { SemesterSelectorItem },
  computed: {
    ...mapGetters({ number_of_semesters: 'config/getNumberOfSemesters' })
  },
  methods: {
    ...mapMutations({
      increment_semesters_number: 'config/incrementSemestersNumber'
    }),
    add_semester() {
      this.increment_semesters_number();
    }
  }
};
</script>

<style lang="scss">
.semester-selector {
  // Display settings
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: $primary-color;
  padding: 0 10pt;
  color: $light-color;
}
</style>
