<template>
  <div class="semester-subject-viewer">
    <div class="semester-subject-title">
      Disciplinas {{this.curr_semester}}º semestre
    </div>
    <semester-subject-item :sid='`${subject.id_disciplina}`'
        v-for='(subject, index) in this.subjects' :key='index'/>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import SemesterSubjectItem from '@/components/parts/SemesterSubject/SemesterSubjectItem.vue';

export default {
  name: 'semester-subject-viewer',
  components: { SemesterSubjectItem },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      curr_semester: "navigation/getSemester",
      curr_plan: "navigation/getPage",
      store_subjects: 'plan/getSubjectList'
    }),
    subjects() {
      return this.store_subjects({
        plan_id: this.curr_plan,
        semester: this.abs_plan_semester
      });
    },
    abs_plan_semester() {
      let ingress = this.$store.getters['auth/getIngress'];
      ingress = new Date(ingress).getFullYear();
      let sum = Math.floor((this.curr_semester - 1) / 2);
      let sem = ((this.curr_semester % 2 == 0) + 1) / 10;
      let result = ingress + sum + sem;
      return result;
    }
  },
  watch: {
    curr_plan() {
      this.update_plan_subjects();
    },
    abs_plan_semester() {
      this.update_plan_subjects();
    }
  },
  async mounted() {
    this.update_plan_subjects();
  },
  methods: {
    ...mapActions({ refresh_plan_semester: 'plan/loadSemesterOfPlan' }),
    async update_plan_subjects() {
      if (!this.subjects)
        this.refresh_plan_semester({
          plan_id: this.curr_plan,
          semester: this.abs_plan_semester
        });
    }
  }
};
</script>

<style lang="scss">
.semester-subject-viewer {
  display: flex;
  flex-direction: column;
  padding: 10pt;

  border-radius: 5pt;
  background-color: white;
  box-shadow: 5pt 5pt 10pt #ddd;
}
.semester-subject-title {
  color: $secondary-color;
  font-family: Georgia;
  font-weight: bold;
  font-size: 25pt;
}
.subject-code {
  background-color: $primary-color;
}
</style>
