<template>
  <div class='subject-item'>
    <subject-item-menu v-if='menu_open'
        :left='menu_x' :top='menu_y' @blur='menu_open = false' :subject='this.subject'/>
    <div class='subject-item-image' :state='subject_state'
        @mouseover="hovering = true" @mouseout="hovering = false" @click='onclick' >
      <div class='subject-item-image-number-bubble' v-if='bubble_number'>{{bubble_number}}</div>
      <div style='width: 25pt; height: 25pt; margin: auto;'>
        <transition name='subject-item-hover-animation'>
          <div key='usual' class='subject-item-image-icon' v-if='can_add_to_plan'>
            <ion-icon :name='icons[subject_state]' :state='subject_state' w='25pt' h='25pt' />
          </div>
          <div key='add' class='subject-item-image-icon' v-else>
            <ion-icon name='add' :state='subject_state' w='25pt' h='25pt'/>
          </div>
        </transition>
      </div>
    </div>
    <div style='user-select: all'>{{code}}</div>
    <div>{{name}}</div>
  </div>
</template>

<script>
import SubjectItemMenu from '@/components/parts/SubjectItem/SubjectItemMenu.vue';
import IonIcon from '@/components/util/IonIcon.vue';

import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'subject-item',
  data() {
    return {
      // Menu options
      menu_open: false,
      menu_x: 0,
      menu_y: 0,
      hovering: false,
      icons: {
        available: null,
        done: 'checkmark',
        doing: 'create',
        locked: 'lock'
      }
    };
  },
  props: { sid: { default: null }, editable: { default: false } },
  components: { IonIcon, SubjectItemMenu },
  computed: {
    ...mapGetters({
      store_subject: 'subject/getSubject',
      store_subject_state: 'subject/getSubjectState',
      is_authenticated: 'auth/isAuthenticated'
    }),
    subject() {
      return this.store_subject(this.sid);
    },
    code() {
      if (this.subject && this.subject.codigo_disciplina)
        return this.subject.codigo_disciplina;
      else return '<Código não disponível>';
    },
    name() {
      if (this.subject && this.subject.nome) return this.subject.nome;
      else return '<Nome não disponível>';
    },
    subject_state() {
      if (!this.is_authenticated) return 'available';
      return this.store_subject_state(this.sid);
    },
    can_add_to_plan() {
      return !this.hovering || !this.editable;
    },
    bubble_number() {
      return null;
    }
  },
  watch: {
    sid() {
      this.changed();
    },
    is_authenticated() {
      this.changed();
    }
  },
  mounted() {
    this.changed();
  },
  methods: {
    ...mapActions({
      refresh_subject: 'subject/loadSubject',
      refresh_subject_state: 'subject/loadSubjectState'
    }),
    changed() {
      if (!this.subject) this.refresh_subject(this.sid);
      if (!this.subject_state && this.is_authenticated)
        this.refresh_subject_state({ subject_id: this.sid });
    },
    onclick(e) {
      if (this.editable) this.modify(e);
      else this.show_info();
    },
    modify(e) {
      if (!this.editable) return;
      this.menu_x = e.clientX;
      this.menu_y = e.clientY;
      this.menu_open = true;
    },
    show_info() {
      this.$store.dispatch('navigation/navigate', {
        path: `estrutura/${this.sid}`
      });
    }
  }
};
</script>

<style lang="scss">
@import '@/assets/custom.scss';

.subject-item {
  display: flex;
  flex-direction: column;
  margin: 25pt;

  align-items: center;
}

.subject-item-image {
  position: relative;
  display: flex;
  width: 50pt;
  height: 50pt;
  border-radius: 25pt;
  margin: 10pt;
  align-items: center;

  cursor: pointer;

  transition: 0.2s;
}

.subject-item-image-number-bubble {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15pt;
  height: 15pt;

  background-color: white;
  border-radius: 7.5pt;
  border: solid black 1px;
  text-align: center;
  vertical-align: center;
}

.subject-item-image-icon {
  position: absolute;

  filter: invert(1);
}

.subject-item-image[state='available'] {
  background-color: #ccc;
}

.subject-item-image[state='done'] {
  background-color: $primary-color;
}

.subject-item-image[state='doing'] {
  background-color: #ff9800;
}

.subject-item-image[state='locked'] {
  background-color: gray;
}

.subject-item-image:hover {
  transform: scale(1.1);
}

.subject-item-image:active {
  transform: scale(1);
}

.subject-item-hover-animation-enter-active,
.subject-item-hover-animation-leave-active {
  transition: 0.3s ease;
}

.subject-item-hover-animation-enter,
.subject-item-hover-animation-leave-to {
  transform: rotate(360deg);
  opacity: 0;
}
</style>
