<template>
    <div class='subject-listing'>
      <subject-item v-for='(subject, index) in list' :key='index' :sid='subject.id_disciplina' :editable='editable'/>
    </div>
</template>

<script>
import SubjectItem from '@/components/parts/SubjectItem.vue';

export default {
  name: 'subject-listing',
  props: {
    list: { default: () => [] },
    editable: { default: false }
  },
  components: { SubjectItem }
};
</script>

<style lang="scss">
// Viewer body
.subject-listing {
  // Layout
  display: flex;
  flex-wrap: wrap;
}
</style>
