
<template>
  <div class='trail-subject-viewer'>
    <div class='trail-subject-viewer-header' @click='toggle_open'>
      <div class='trail-subject-viewer-header-icon' :open='open'>
          <ion-icon name='arrow-dropright' />
      </div>
      {{name}}
    </div>
    <div class='trail-subject-viewer-body' v-if='open'>
      <div v-for='(subject_list ,index) in lists' :key='index' >
        <div class='trail-subject-viewer-body-module-name'>- {{modules[index].codigo_modulo}}</div>
        <subject-listing :list='subject_list' :editable='editable' />
      </div>
    </div>
  </div>
</template>

<script>
import SubjectListing from '@/components/parts/SubjectListing.vue';

import IonIcon from '@/components/util/IonIcon.vue';

export default {
  name: 'trail-subject-viewer',
  props: {
    name: { default: '-' },
    id: { default: 0 },
    editable: { default: false }
  },
  data() {
    return {
      open: false,
      modules: [],
      lists: []
    };
  },
  components: { IonIcon, SubjectListing },
  computed: {},
  watch: {
    id() {
      this.update();
    }
  },
  mounted() {
    this.update();
  },
  methods: {
    toggle_open() {
      this.open = !this.open;
    },
    async update() {
      this.modules = await this.$axios.$get('modulos', {
        params: { id_trilha: `eq.${this.id}` }
      });

      let new_lists = [];

      for (const trail_module of this.modules) {
        let subject_list = await this.$axios.$get('optativas_compoem_modulos', {
          params: { id_modulo: `eq.${trail_module.id_modulo}` }
        });
        new_lists.push(subject_list);
      }
      this.lists = new_lists;
    }
  }
};
</script>

<style lang="scss">
// Viewer header
.trail-subject-viewer-header {
  display: flex;
  margin: 5pt 0;
  padding: 2pt;

  cursor: pointer;

  align-items: center;

  border-radius: 5pt;
  background-color: white;
  box-shadow: 5pt 5pt 10pt #ddd;
}

.trail-subject-viewer-header-icon {
  width: 20pt;
  height: 20pt;

  transition: 0.2s;
}

.trail-subject-viewer-header-icon[open] {
  transform: rotate(90deg);
}

// Viewer body
.trail-subject-viewer-body {
  margin: 20pt 40pt;
  border-radius: 5pt;
  background-color: white;
  box-shadow: 5pt 5pt 10pt #ddd;
}

.trail-subject-viewer-body-module-name {
  padding: 10pt;
}
</style>
