<template>
  <div class='semester-selector-item' :underlined='selected' @click='click'>
    {{name}}
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'semester-selector-item',
  props: {
    name: { default: '-' },
    sid: { default: '-' },
    action: { default: null }
  },
  computed: {
    ...mapGetters({ semester: 'navigation/getSemester' }),
    selected() {
      return this.sid && this.semester == this.sid;
    }
  },
  methods: {
    click() {
      if (this.sid) this.$store.commit('navigation/setSemester', this.sid);
      if (this.action) this.action();
    }
  }
};
</script>

<style lang="scss">
.semester-selector-item {
  margin: 5pt;
  padding: 5pt;
  cursor: pointer;
  border: solid 2px $secondary-color;
  transition-duration: 600ms;
  color: $light-color;
  background-color: $secondary-color;
  border-radius: 1.5px;
}

.semester-selector-item:hover {
  font-weight: 700;
  background-color: $primary-color;
  border-radius: 20px;
  color: $light-color;
  
}

.semester-selector-item[underlined='true'] {
  text-decoration: underline;
  font-weight: bold;
  border-radius: 20px;
  background-color: $primary-color;
  border: solid 2px $secondary-color;
}
</style>
