<template>
  <div class="semester-subject-item">
    <div class="subject-code" :status='subject_state'>
      {{code}}
    </div>
    <div class="subject-name">
      {{name}}
    </div>
    <div @click="show_info">
      <ion-icon class="subject-info-icon" name="information-circle" />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import IonIcon from '@/components/util/IonIcon.vue';

export default {
  name: 'semester-subject-item',
  components: { IonIcon },
  props: {
    sid: { default: null }
  },
  computed: {
    ...mapGetters({
      store_subject: 'subject/getSubject',
      store_subject_state: 'subject/getSubjectState'
    }),
    subject() {
      return this.store_subject(this.sid);
    },
    code() {
      if (this.subject && this.subject.codigo_disciplina)
        return this.subject.codigo_disciplina;
      else return '<Código não disponível>';
    },
    name() {
      if (this.subject && this.subject.nome) return this.subject.nome;
      else return '<Nome não disponível>';
    },
    subject_state() {
      return this.store_subject_state(this.sid);
    }
  },
  watch: {
    sid() {
      this.changed();
    }
  },
  mounted() {
    this.changed();
  },
  methods: {
    ...mapActions({
      refresh_subject: 'subject/loadSubject',
      refresh_subject_state: 'subject/loadSubjectState'
    }),
    changed() {
      if (!this.subject) this.refresh_subject(this.sid);
      if (!this.subject_state)
        this.refresh_subject_state({ subject_id: this.sid });
    },
    show_info() {
      this.$store.dispatch('navigation/navigate', {
        path: `estrutura/${this.sid}`
      });
    }
  }
};
</script>

<style lang="scss">
.subject-code {
  text-align: center;
  padding: 5pt;
  border-radius: 5pt;
  width: 15%;
  color: $light-color;
}
.subject-code[status='done'] {
  background-color: $primary-color;
}
.subject-code[status='available'] {
  background-color: $secondary-color;
}
.subject-code[status='doing'] {
  background-color: $secondary-color;
}
.subject-code[status='locked'] {
  background-color: $secondary-color;
}
.subject-name {
  padding: 5pt;
}
.subject-info-icon {
  align-self: right;
  padding: 4pt;
}
.semester-subject-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 30pt;
  font-size: 18pt;
  text-align: center;
  background-color: $light-color;
  vertical-align: middle;
  margin: 3pt;
  border-radius: 5pt;
}
</style>
